@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
    text-align: center;
    color: #333;

}

a {
    text-decoration: none;
    color: #333333;
}

h6 {
    display: none;
}

h2 {
    text-transform: capitalize;
}