@charset "utf-8";

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 9vw;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;

}

article {
    width: 100%;
    background-color: rgb(159, 180, 226);
}

.intro_txt {
    position: absolute;
    top: 200px;
    right: 50px;
    font-size: 13px;
}

.intro_txt span {
    font-weight: bold;
    font-size: 16px;
}
section{height:600px;}
section>article {
    background-color: #fff;
}

section>article>ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
}

section>article>ul>li {

    width: 80%;
    margin: 0px auto;

}

section>article>ul>li:first-child {
    border-top: 3px solid #222;
    text-indent: 25px;
}

section>article>ul>li a {
    display: inline-block;
    width: 90%;
    border-bottom: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
}

.subject {
    display: inline-block;
    width: 80%;
}

section>article>ul>li p {
    width: 60%;
    margin: 20px auto;
    line-height: 1.5;
    display: none;
    font-size: 12px;
}

.qna {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
}

legend {
    display: none;
}

#inquiry {
    /* border:3px solid blue; */
    height: 450px;
    width: 73%;
    margin: 0px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr;
    box-sizing: border-box;
    padding: 20px 50px 20px 100px;
    grid-gap: 10px;
}

#inquiry>div:nth-last-of-type(2) {
    grid-area: 5/1/6/3;
    text-align: center;
}

#inquiry>div:nth-last-of-type(2) a {
    display: inline-block;
    height: 40px;
    width: 150px;
    background-color: #ffe9e9;
    line-height: 40px;
    margin: 10px 0px;
    padding: 3px 10px;

}

#inquiry>div:last-of-type {
    display: none;
}

#inquiry>div input[type="text"] {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    transform: translateY(-5px);
    outline: none;
}

textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
}

.tab_btn {
    width: 70%;
    margin: 50px auto;
}

.tab_btn a {
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: block;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 10px 30px;
}

@media screen and (min-width:1025px) and (max-width:1550px) {
    .qna {
        position: absolute;
        top: 250px;
    }

    section>article>ul>li a {
        display: inline-block;
        width: 90%;
        border-bottom: 1px solid #ccc;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }
}

@media screen and (max-width:1024px) {
    .qna {
        position: absolute;
        top: 200px;
    }

    #inquiry {
        width: 95%;
        padding: 0px 50px 20px 20px;
    }

    .tab_btn {
        width: 70%;
        margin: 50px auto 100px auto;
    }

    .tab_btn a {
        font-size: 10px;
    }

    section>article>ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto 150px auto;
    }

    section>article>ul>li,
    section>article>ul>li a {
        font-size: 12px;
        width: 100%;
        margin: 0px auto;

    }

    .date {
        font-size: 10px;
    }

    #inquiry {
        width: 100%;
    }

    section>article>ul>li:first-child {
        width: 100%;
        text-indent: 0;
    }

    .qna {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%);
        text-align: left;
        display: none;
    }

    section>article>ul>li a {
        display: inline-block;
        width: 90%;
        border-bottom: 1px solid #ccc;
        height: auto;
        line-height: 2;
        font-size: 10px;
    }

    section>article>ul>li p {
        font-size: 10px;
    }
}